<html>
  <head>
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form method="post" action="/posts/<%= post.id %>/edit">
      <%- include _post_form %>
    </form>    
  </body>
</html>