<html>
  <head>
    <%- include _head.ejs %>
    <title><%= title %></title>
  </head>
  <body>
    <div id="root"></div>
    <div id="root-amy"></div>
    <%- include _footer.ejs %>
  </body>
</html>