<html>
  <head>
    <%- include _head.ejs %>
    <title>Edit Post</title>
  </head>
  <body>
    <h1>New Post</h1>
    <form method="post" action="/posts/new">
      <%- include _post_form %>
    </form>    
  </body>
</html>